In [1]:
import pandas as pd

In [2]:
mergedDF = pd.read_csv('mergedData.csv')

In [3]:
sentimenDF = pd.read_csv('SentimentResults_1995_2015.csv')

In [4]:
# check row count
mergedDF.count()

Unnamed: 0             3532
Title                  3532
Year                   3532
Release Date           3530
Genre                  3532
IMDb Rating            3530
Metascore              3407
Rated                  3522
Box_Office_Adjusted    3532
GDP                    3483
GDP_1                  3483
GDP_2                  3483
Unemployment           3483
Unemployment_1         3483
Unemployment_2         3483
Confidence             3483
Confidence_1           3483
Confidence_2           3483
Median_Income          3483
Median_Income_1        3483
Median_Income_2        3483
GDP_AVG                3483
Unemployment_AVG       3483
Confidence_AVG         3483
Median_Income_AVG      3483
drama                  3532
comedy                 3532
thriller               3532
romance                3532
action                 3532
adventure              3532
crime                  3532
fantasy                3532
family                 3532
mystery                3532
sci-fi                 3532
horror                 3532
biography              3532
animation              3532
music                  3532
sport                  3532
history                3532
war                    3532
musical                3532
documentary            3532
western                3532
news                   3532
Month_Year             3532
President              3453
End Date               3453
Approving              3453
Disapproving           3453
Unsure/NoData          3453
NFLX Adj Close         2760
GSPC Adj Close         2760
dtype: int64

In [5]:
mergedDF.dtypes

Unnamed: 0               int64
Title                   object
Year                     int64
Release Date            object
Genre                   object
IMDb Rating            float64
Metascore              float64
Rated                   object
Box_Office_Adjusted    float64
GDP                    float64
GDP_1                  float64
GDP_2                  float64
Unemployment           float64
Unemployment_1         float64
Unemployment_2         float64
Confidence             float64
Confidence_1           float64
Confidence_2           float64
Median_Income          float64
Median_Income_1        float64
Median_Income_2        float64
GDP_AVG                float64
Unemployment_AVG       float64
Confidence_AVG         float64
Median_Income_AVG      float64
drama                    int64
comedy                   int64
thriller                 int64
romance                  int64
action                   int64
adventure                int64
crime                    int64
fantasy                  int64
family                   int64
mystery                  int64
sci-fi                   int64
horror                   int64
biography                int64
animation                int64
music                    int64
sport                    int64
history                  int64
war                      int64
musical                  int64
documentary              int64
western                  int64
news                     int64
Month_Year              object
President               object
End Date               float64
Approving              float64
Disapproving           float64
Unsure/NoData          float64
NFLX Adj Close         float64
GSPC Adj Close         float64
dtype: object

In [6]:
sentimenDF.dtypes

pub_date                        int64
Sentiment Average per year    float64
dtype: object

In [7]:
sentimenDF.head()

   pub_date  Sentiment Average per year
0      1996                    0.023210
1      1997                    0.001073
2      1998                    0.022593
3      1999                    0.022073
4      2000                    0.064274

In [8]:
mergedDF.head()

,Unnamed: 0,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,...,western,news,Month_Year,President,End Date,Approving,Disapproving,Unsure/NoData,NFLX Adj Close,GSPC Adj Close
0,0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,...,0,0,10/1994,Clinton,1994.0,43.333333,49.666667,5.666667,NaN,NaN
1,1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,...,0,0,05/2014,Barack Obama,2014.0,44.129032,50.806452,5.064516,51.775714,1889.767142
2,2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,...,0,0,02/1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,...,0,0,06/1993,Clinton,1993.0,39.666667,48.666667,10.000000,NaN,NaN
4,4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,...,0,0,06/1994,Clinton,1994.0,46.000000,45.666667,7.333333,NaN,NaN

In [9]:
# convert year columns in both DFs to object
sentimenDF.pub_date=sentimenDF.pub_date.astype('str')
mergedDF.Year=mergedDF.Year.astype('str')

In [10]:
sentimenDF=sentimenDF.rename(columns={'pub_date':'Year'})

In [11]:
sentimenDF.head()

   Year  Sentiment Average per year
0  1996                    0.023210
1  1997                    0.001073
2  1998                    0.022593
3  1999                    0.022073
4  2000                    0.064274

In [12]:
# merge sentiment scores with mergedDF
mergedDF = mergedDF.merge(sentimenDF, on='Year',how='left')
mergedDF.head()

,Unnamed: 0,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,...,news,Month_Year,President,End Date,Approving,Disapproving,Unsure/NoData,NFLX Adj Close,GSPC Adj Close,Sentiment Average per year
0,0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,...,0,10/1994,Clinton,1994.0,43.333333,49.666667,5.666667,NaN,NaN,NaN
1,1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,...,0,05/2014,Barack Obama,2014.0,44.129032,50.806452,5.064516,51.775714,1889.767142,0.037
2,2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,...,0,02/1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,...,0,06/1993,Clinton,1993.0,39.666667,48.666667,10.000000,NaN,NaN,NaN
4,4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,...,0,06/1994,Clinton,1994.0,46.000000,45.666667,7.333333,NaN,NaN,NaN

In [13]:
#remove extra column
mergedDF=mergedDF.iloc[:,1:]
mergedDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,news,Month_Year,President,End Date,Approving,Disapproving,Unsure/NoData,NFLX Adj Close,GSPC Adj Close,Sentiment Average per year
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,0,10/1994,Clinton,1994.0,43.333333,49.666667,5.666667,NaN,NaN,NaN
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,0,05/2014,Barack Obama,2014.0,44.129032,50.806452,5.064516,51.775714,1889.767142,0.037
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,0,02/1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,0,06/1993,Clinton,1993.0,39.666667,48.666667,10.000000,NaN,NaN,NaN
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,0,06/1994,Clinton,1994.0,46.000000,45.666667,7.333333,NaN,NaN,NaN

In [14]:
# check row count
mergedDF.count()

Title                         3532
Year                          3532
Release Date                  3530
Genre                         3532
IMDb Rating                   3530
Metascore                     3407
Rated                         3522
Box_Office_Adjusted           3532
GDP                           3483
GDP_1                         3483
GDP_2                         3483
Unemployment                  3483
Unemployment_1                3483
Unemployment_2                3483
Confidence                    3483
Confidence_1                  3483
Confidence_2                  3483
Median_Income                 3483
Median_Income_1               3483
Median_Income_2               3483
GDP_AVG                       3483
Unemployment_AVG              3483
Confidence_AVG                3483
Median_Income_AVG             3483
drama                         3532
comedy                        3532
thriller                      3532
romance                       3532
action                        3532
adventure                     3532
crime                         3532
fantasy                       3532
family                        3532
mystery                       3532
sci-fi                        3532
horror                        3532
biography                     3532
animation                     3532
music                         3532
sport                         3532
history                       3532
war                           3532
musical                       3532
documentary                   3532
western                       3532
news                          3532
Month_Year                    3532
President                     3453
End Date                      3453
Approving                     3453
Disapproving                  3453
Unsure/NoData                 3453
NFLX Adj Close                2760
GSPC Adj Close                2760
Sentiment Average per year    3283
dtype: int64

In [17]:
# output to csv
mergedDF.to_csv('mergedData.csv')